// Search entry

$base_padding: 6px;

%search_entry,
.search-entry {
  margin-top: $base_padding * 4; // Yaru change: realign search entry due to fixed panel opacity
  margin-bottom: $base_padding * 2; // Yaru change: realign search entry due to fixed panel opacity
}
