/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: $_dark_base_color;
}

.overview-controls {
  padding-bottom: 32px;
}
